<div class="container is-fluid">
    <div class="columns is-tablet">
        <div class="column is-4"></div>
        <div class="column is-4 is-justify-content-center">
            <div class="table-container">
                <table class="table is-hoverable is-striped">
                    <thead>
                        <th>Student USN</th>
                        <th>Student Name</th>
                    </thead>
                    <tbody>
                        <tr *ngFor="let student of studentList">
                            <td>{{student.registrationNumber}}</td>
                            <td>{{student.fullName}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="column is-4"></div>
    </div>
    <div class="columns">
        <div class="column is-5"></div>
        <div class="column is-2">
            <button class="button is-danger" (click)="goBack()  ">Go Back</button>
        </div>
        <div class="column is-5"></div>
    </div>
</div>