<div class="container is-fluid">
    <h1 class="title has-text-centered">Project By</h1>
    <div class="columns">

        <div class="column is-2"></div>
        <div class="column is-8">
            <div class="columns">

                <div class="column is-6">
                    <div class="card">
                        <div class="card-header">
                            <div class="card-header-title">Shreehari Vaasishta</div>
                        </div>
                        <div class="card-content">
                            <p>R1818326</p>
                        </div>
                    </div>
                </div>
                <div class="column is-6">
                    <div class="card">
                        <div class="card-header">
                            <div class="card-header-title">Vishal</div>
                        </div>
                        <div class="card-content">
                            <p>R1818352</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="column is-2"></div>
    </div>
    <div class="title has-text-centered">Under the guidance of</div>
    <div class="columns has-text-centered">

        <div class="column is-3"></div>
        <div class="column is-half">
            <div class="card has-text-centered">
                <div class="card-content">
                    <h3 class="is-size-3">Bharati N</h3>
                    <h5 class="is-size-5">Professor | Dept. of BCA</h5>
                </div>
            </div>
        </div>
        <div class="column is-3"></div>
    </div>
</div>