<div class="container is-fluid">
    <div class="columns is-tablet">
        <div class="column"></div>
        <div class="column is-half has-text-centered">
            <div class="table-container has-text-centered">
                <table class="table is-striped is-hoverable">
                    <thead>
                        <th>Post Id</th>
                        <th>Post Title</th>
                        <th>Actions</th>
                    </thead>
                    <tbody>
                        <tr *ngFor="let post of postList">
                            <td>{{post.postId}}</td>
                            <td>{{post.postTitle}}</td>
                            <td>
                                <button class="button is-warning">Flag Post</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="column"></div>
    </div>
</div>