<div class="container is-fluid">
    <div class="columns is-tablet">
        <div class="column"></div>
        <div class="column is-half is-align-content-center">
            <div class="table-container">
                <table class="table is-striped is-hoverable has-text-centered">
                    <thead>
                        <th>Unique Post Id</th>
                        <th>Post Title</th>
                        <th>Flag Count</th>
                        <th>Actions</th>
                    </thead>
                    <tbody>
                        <tr *ngFor="let post of postList">
                            <ng-template *ngIf="!post.isApproved; else approved">
                                <td style="color: red;">{{post.postId}}</td>
                                <td style="color: red;">{{post.postTitle}}</td>
                                <td style="color: red;">{{post.flaggedCount}}</td>
                                <td>
                                    <button class="button is-warning" (click)="flagPost(post.postId)">Flag Post</button>
                                </td>
                            </ng-template>
                            <ng-template #approved>
                                <td style="color: green;">{{post.postId}}</td>
                                <td style="color: green;">{{post.postTitle}}</td>
                                <td style="color: green;">{{post.flaggedCount}}</td>
                                <td>
                                    <button class="button is-warning" (click)="flagPost(post.postId)">Flag Post</button>
                                </td>
                            </ng-template>
                        </tr>
                    </tbody>
                </table>
                <p style="color: green;">Green indicates approved posts.</p>
                <p style="color: red;">Red indicates unapproved posts.</p>
            </div>
        </div>
        <div class="column"></div>
    </div>
    <div class="columns">
        <div class="column is-5"></div>
        <div class="column is-2">
            <button class="button is-danger" (click)="goBack()">Go Back</button>
        </div>
        <div class="column is-5"></div>
    </div>
</div>